<!DOCTYPE html>
<html>

    <head>

      <title>Estats Cartola</title>

    </head>

    <body>


      <h1>Estats Cartola</h1>
        <img src="https://pbs.twimg.com/profile_images/973553970777075714/fpY19u69_400x400.jpg" width="150">

        <p>Somos um perfil dedicado à análise estatística do Cartola FC, com dicas para você montar o seu time e mitar na sua liga. <br>Top 20 em 2013 e Top 1000 por 6 anos seguidos</p>
        <a class="twitter-timeline" data-width="300" data-height="400" data-theme="dark" href="https://twitter.com/estats_cartola?ref_src=twsrc%5Etfw">Tweets by estats_cartola</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <hr>

        <h2 id=pontos> Pontos Cedidos <h2>
          <img src="10_pontos.png" width="500">
          <a href="#RBs">Veja tambem Rbs</a>
      <hr>
          <h2 id= RBs> RB Cedidos <h2>
            <img src="8_RB.png" width="500">
            <a href="#pontos">Veja tambem pontos</a>
      <hr>
      <p> <a href="socio.html"> <input type="submit" value="Seja Socio"></a> </p>
    </body>

</html>
